# Node
frontend/node_modules/
frontend/dist/

# Ignore compiled JavaScript files in src (TypeScript source files are used instead)
frontend/src/**/*.js

# Editor
.DS_Store

# Go build artifacts
**/profile.db
**/*.log
**/bin/
**/main

# SQLite
backend/profile/profile.db

# Docker
*.env

# Python
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
